[submodule "mash-simulator"]
	path = mash-simulator
	url = https://github.com/idiap/mash-simulator.git
[submodule "DeepLearningTutorials"]
	path = DeepLearningTutorials
	url = https://github.com/lisa-lab/DeepLearningTutorials.git
[submodule "deep_q_rl"]
	path = deep_q_rl
	url = https://github.com/spragunr/deep_q_rl
